{% extends "base.html" %}
{% block heading %}
    <title>Visit Profile</title>
{% endblock %}

{% block content %}
    <nav class="navbar navbar-expand-lg navbar-light bg-light" style="padding-left: 15px; padding-top: 15px;">
        <a class="navbar-brand" href="{{ url_for('index') }}">Pitch-In</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <div class="navbar-nav">
                <a class="nav-item nav-link" href="{{ url_for('index') }}">Explore <span class="sr-only">(current)</span></a>
                <a class="nav-item nav-link" href="{{ url_for('feed') }}">Feed</a>
                <a class="nav-item nav-link" href="{{ url_for('new_post') }}">New Post</a>
                <a class="nav-item nav-link" href="{{ url_for('profile_page') }}">My Profile</a>
                <a class="logout nav-item nav-link" href="{{ url_for('logout') }}">Logout</a>
            </div>
        </div>
    </nav>
    <div style="padding-left: 15px; padding-top: 15px;">
        <h2>{{ user }}</h2>
        <br>
        <h3>Items: </h3>
    </div>
    {% for i in items %}

    <div class="card-body text-center" style="color: white; width: 25%;">
        <div class="card bg-primary">
            <h4 class="card-text">{{ i }}</h4>
            <a href="{{ url_for('commited', item=i)}}" style="color: white;">Commit</a>
        </div>
    </div>
    
    {% endfor %}
{% endblock %}