{% extends "base.html" %}

{% block heading %}
    <title>Home</title>
{% endblock %}
{% block content %}
    {% if "logged_in" in session %}
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="{{ url_for('index') }}">Pitch-In</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
        
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <div class="navbar-nav">
                    <a class="nav-item nav-link active" href="{{ url_for('index') }}">Explore <span class="sr-only">(current)</span></a>
                    <a class="nav-item nav-link" href="{{ url_for('feed') }}">Feed</a>
                    <a class="nav-item nav-link" href="{{ url_for('new_post') }}">New Post</a>
                    <a class="nav-item nav-link" href="{{ url_for('profile_page') }}">My Profile</a>
                    <a class="logout nav-item nav-link" href="{{ url_for('logout') }}">Logout</a>
                </div>
            </div>
        </nav>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                <div class="alert alert-primary" role="alert">
                    {{ message }}
                </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
        <style>
            #us:hover {
                background-color: yellow;
            }
        </style>
        
        {% for i in same_location %}  
            {% if(i.username != session["user"]) %}
            <a href = "{{ url_for('visit', usr=i.username) }}">
                <h1>{{ i.username }}</h1>
            </a>
            {% endif %}
        {% endfor %}
    {% else %}
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="{{ url_for('index') }}">Pitch-In</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
          
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <div class="navbar-nav">
                    <a class="nav-item nav-link" href="{{ url_for('login') }}">Login <span class="sr-only">(current)</span></a>
                    <a class="nav-item nav-link" href="{{ url_for('registration') }}">Register</a>
                </div>
            </div>
        </nav>
        <div class="content" style="padding-left: 15px; padding-top: 15px;">
            <h2>Team</h2>
            <p>Mahanth Mohan</p>
            <p>Gaurav Dharmadikarai</p>
            <p>Maharishi Rajarethenam</p>
        </div>
    {% endif %}
{% endblock %}