{% extends "base.html" %}

{% block heading %}
    <title>Login</title>
{% endblock %}

{% block content %}
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="{{ url_for('index') }}">Pitch-In</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
    
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <div class="navbar-nav">
                <a class="nav-item nav-link active" href="{{ url_for('login') }}">Login <span class="sr-only">(current)</span></a>
                <a class="nav-item nav-link" href="{{ url_for('registration') }}">Register</a>
            </div>
        </div>
    </nav>
    <div class="form-div bg-light" style="padding-left: 15px; padding-top: 15px;">
        <h3 class="form-heading">Login</h3>
        <form action="#" method="POST" style="width: 75%;">
            <label for="username">Username</label><br>
            <input type="text" class="form-control" name="username" required autocomplete="off"><br>
            <label for="password">Password</label><br>
            <input type="password" class="form-control" name="password" required><br>
            <input type="submit" value="Login" class="btn btn-primary">
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for message in messages %}
                    <div class="alert alert-primary" role="alert">
                        {{ message }}
                    </div>
                    {% endfor %}
                {% endif %}
            {% endwith %}
        </form>
        <a href="{{ url_for('registration') }}">Don't have an account?</a>
    </div>
{% endblock %}